{% include head-dark.html %}


<style>
img {
    float: left;
    margin: 10px 15px 10px 0px;
}
</style>


    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">


      <h2> About me </h2>
      
<p>
<img src="http://abigailaiken.github.io/images/headshot.JPG"
      width="200px" style="margin: 10px 15px 10px 0px" alt="image" />
      
I am an assistant professor at the <a
href="https://lbj.utexas.edu" target="_blank">LBJ School of Public
      Affairs</a> at the University of Texas at Austin. Prior to joining UT, I completed my postdoctoral
work at the Office of Population Research at Princeton University. 

<p>My research interests are focused on reproductive health and span
      several disciplines, combining backgrounds in biomedical
      science, demography, public health, and public policy. My work
      has been published in the BMJ, the New England Journal of Medicine, American Journal of Public
      Health, Social Science and Medicine, Perspectives on Sexual and
      Reproductive Health, and Obstetrics and Gynecology, among others. My research
      has been supported by the National Institutes of Health and the
      Society of Family Planning. </p>

<p>I grew up in Northern Ireland and completed my bachelor's and medical
degrees at <a href="http://www.trin.cam.ac.uk"
      target="_blank"> Trinity College, Cambridge</a> After moving to
      the U.S. in 2009 to attend the  <a
href="http://www.hsph.harvard.edu" target="_blank">Harvard School of
      Public Health</a> as a Frank Knox Fellow, I married a Texan,
      adopted some guinea pigs, and decided to stay awhile
      longer. When I'm not in the office, you can usually find me
      running on the trail, trying to increase my pull-up count, or taking my cat,
      href="http://abigailaiken.github.io/files/ara_aiken_cv_summer_2017.pdf" target="_blank">available here.Markov </a> for a random walk. </p>

      <p>My complete CV is <a
      href="http://abigailaiken.github.io/files/ara_aiken_cv.pdf" target="_blank">available here.</a> </p>

<h3>Contact information</h3>

      <br>
<p>Abigail R.A. Aiken (MD, MPH, PhD)<br>
Assistant Professor 
LBJ School of Public Affairs<br>
University of Texas at Austin<br>
Austin, Texas<br>
      araa2 _ at _ utexas.edu  </p>
      
      
          </article>
        </section>
    </div>

{% include footer.html %}