{% include head-dark.html %}


<style>
img {
    float: left;
    margin: 10px 15px 10px 0px;
}
</style>


    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">



      
      <h3> About me </h3>
      
<p>
<img src="http://abigailaiken.github.io/images/headshot.JPG"
width="200px" style="margin: 10px 15px 10px 0px" alt="image" />
I am a postdoctoral research associate at the <a
href="http://opr.princeton.edu" target="_blank">Office of Population
Research</a> at Princeton University. During the Fall 2014 semester, I
was also a lecturer at the Woodrow Wilson School of Public and
International Affairs.  Prior to joining OPR, I completed my doctoral
work at the <a href="http://www.utexas.edu/lbj/" target="_blank">LBJ School of Public Affairs</a> and Population Research Center at the University of Texas at Austin. </p>

<p>My research interests are focused on reproductive health and span
      several disciplines, combining backgrounds in biomedical
      science, demography, public health, and public policy. My work
      has recently been published in the American Journal of Public
      Health, Social Science and Medicine, Perspectives on Sexual and
      Reproductive Health, Obstetrics and Gynecology, and American
      Journal of Obstetrics and Gynecology, among others. My research
      has been supported by the National Institutes of Health and the
      Society of Family Planning. </p>

<p>I grew up in Northern Ireland and completed my bachelor's and medical
degrees at Trinity College, Cambridge. After moving to the U.S. in
2009 to attend the Harvard School of Public Health as a Frank Knox Fellow, I married a Texan, adopted some guinea pigs, and decided to stay awhile longer. In Fall 2016, I will join the faculty of the LBJ School at the University of Texas at Austin as Assistant Professor of Public Affairs. </p>


<h3>Contact information</h3>

<p>Abigail R.A. Aiken (MD, MPH, PhD)<br>
Postdoctoral Fellow
Office of Population Research<br>
Princeton University<br>
Princeton, New Jersey<br>
      aaiken _ at _ princeton.edu  </p>
      
      
      
          </article>
        </section>
    </div>

{% include footer.html %}